<h1 class="text-center">Angular diretivas</h1>

<!-- Diretivas de Atributo -->
<div 
    [ngStyle]="{background: count < 5 ? 'red' : 'green'}"
    [ngClass]="{custom: count > 5}"
>
    <h2 class="text-center">Contador: {{count}}</h2>
</div>

<!-- Diretivas Estruturais -->
<h2 *ngIf="count > 7; else menor">O contador passou de 7!</h2>

<ng-template #menor>
    <h2>Menor que 7</h2>
</ng-template>

<ul [ngSwitch]="count" class="list-group mx-auto col-3">
    <li
        class="list-group-item"
        *ngSwitchCase="5"
    >
        É igual a 5
    </li>
    <li
        class="list-group-item"
        *ngSwitchCase="8"
    >
        É igual a 8
    </li>
    <li
        class="list-group-item"
        *ngSwitchDefault
    >
        É Default
    </li>        
</ul>

<ul class="list-group mx-auto col-3">
    <li 
        class="list-group-item"
        *ngFor="let pessoa of pessoas"
    >
        O nome da pessoa é {{pessoa.nome}} {{pessoa.sobrenome}}.
    </li>        
</ul>

<div>
    <h3 appMarcaTexto corDeFundo="blue" corDeTexto="black">{{nome}}</h3>
    <button class="btn btn-sucess col-4 mx-auto" (click)="clicou('Rodrigo Lucena')">Clique</button>
</div>

<!-- two way data binding -->
<div class="col-4 mx-auto">
    <input 
        type="text" class="form-control" 
        placeholder="Digite alguma coisa"
        [(ngModel)]="text" 
    >
    <h4>Saída: {{text}}</h4>
</div>